html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.landscape {
  transform: rotate(90deg) translateY(-100vw);
  width: 100vh;
  height: 100vw;
}
canvas {
  object-fit: cover;
  position: absolute;
  top: round(nearest, 50%, 1px);
  left: round(nearest, 50%, 1px);
  transform: translate(round(nearest, -50%, 1px), round(nearest, -50%, 1px));
  border: 2px solid #ccc;
  border-radius: 2px;
}

#glass {
  position: absolute;
  width: calc(max(100vh, 100vw));
  height: calc(max(100vh, 100vw));
  background-color: transparent;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 5;
  backdrop-filter: blur(5px);
}

#main-menu {
  font-size: 2rem;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  text-align: center;
}

#pause-menu {
  font-size: 1rem;
  flex-shrink: 0;
  margin-right: auto; /* Remove this to allow centering or specific placement */
  margin-left: auto; /* This will center it if there's space */
  padding: 0.5rem;
  cursor: default;
  width: fit-content;
}

.pause-button {
  margin-top: 0.7rem;
}

.metap-modal {
  font-size: 1rem;
  top: 2rem;
  right: 2rem;
  transform: none;
}

#score {
  text-align: right;
  margin-right: 1em;
  width: 10em;
  float: right;
}

#info {
  font-family: "monoidregular";
  position: absolute;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  top: 0.2em;
  left: 0.2em;
  color: #cc0;
  font-size: 2rem;
}

#debug-menu {
  font-size: 0.75rem;
  flex-shrink: 0;
  margin-right: auto;
  padding: 0.5rem;
  cursor: default;
  width: fit-content;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 10000;
  color: #777;
}

#right-container {
  display: flex;
  flex-shrink: 0;
}

#next-wave-countdown {
  font-size: 1rem;
  padding: 10px;
  margin-left: 10px;
}

#score {
  font-size: 1rem;
  padding: 10px;
  margin-left: 10px;
}

#extra-info {
  font-family: "monoidregular";
  position: static;
  z-index: 1000;
  /*width: 100%;*/
  display: flex;
  align-items: center;
  box-sizing: border-box;
  /*bottom: 0.2em;
  left: 0.2em;*/
  color: #cc0;
  font-size: 1rem;
}

.right-container {
  display: flex;
  flex-shrink: 0;
}

#hull {
  min-width: 8em;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

#primary-weapon-types {
  padding: 0.5rem;
  margin-left: 0.5rem;
}

#primary-weapon-ammo,
#secondary-weapon-ammo {
  font-size: 80%;
}
#secondary-weapon-types {
  padding: 0.5rem;
  margin-left: 0.5rem;
}

#current-powerups-hud {
  display: flex;
  width: fit-content;
  cursor: help;
  margin-left: 1rem;
}

#current-powerups-hud {
  flex-wrap: wrap;
  min-height: 1rem;
  max-height: 1rem;
  border-radius: 1rem;
}

#current-powerups-hud > div {
  width: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: 0.1rem;
  border: 1px solid #ccc;
  display: flex;
  overflow: hidden;
  margin-left: 0.5rem;
  transform: translate(0, round(nearest, -0.4rem, 1px));
}

#current-powerups-hud > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#powerup-container {
  cursor: pointer;
  z-index: 5;
  font-size: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  border-radius: 1rem; /* TODO: check all radii */
  border: 1px solid #ccc;
  text-align: center;
  font-family: "monoidregular";
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#powerup-container > h3 {
  width: 100%;
  flex-basis: 100%;
}

#skip-powerup {
  width: 100%;
  flex-basis: 100%;
}

.powerup-selected {
  background-color: #555;
  border-radius: 1rem;
  border: 1px solid #ccc;
}

#current-powerups {
  display: flex;
  width: 100%;
  flex-basis: 100%;
  cursor: help;
}

.current-powerups {
  flex-wrap: wrap;
  border: 1px solid #ccc;
  min-height: 3rem;
  border-radius: 1rem;
}

.current-powerups > div {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  border: 1px solid #ccc;
  display: flex;
  overflow: hidden;
  margin: 0.5rem;
}

.current-powerups > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.powerup-choice {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.choice-glyph {
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  overflow: hidden;
}

.choice-glyph img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.choice-description {
  text-align: center;
  color: white;
}

.choice-description table {
  text-align: center;
  color: white;
}

.player-stats {
  border: 1px solid #ccc;
  border-radius: 1rem;
  border-collapse: separate;
  color: white;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
}

.player-stats-title {
  text-align: left;
}

/* TODO: to move out */

.control-list-wrapper {
  color: white;
}

.control-list-wrapper > table {
  color: white;
  margin: 1em;
  border-collapse: separate;
  border-spacing: 2rem;
}
