html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.landscape {
  transform: rotate(90deg) translateY(-100vw); /* Rotate and reposition */
  width: 100vh; /* Swap width and height */
  height: 100vw;
}
canvas {
  object-fit: cover;
}

#metap-modal {
  font-size: 1rem;
  top: 2rem;
  left: 2rem;
  transform: none;
}

#score {
  text-align: right;
  margin-right: 1em;
  width: 10em;
  float: right;
}

#info {
  font-family: "monoidregular";
  position: absolute;
  z-index: 1000;
  width: 100%;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Vertically center items */
  box-sizing: border-box; /* Include padding and border in width */
  top: 0.2em;
  left: 0.2em;
  color: #cc0;
  font-size: 2vh;
}

#menu {
  font-size: 1rem;
  flex-shrink: 0;
  margin-right: auto;
  padding: 10px;
  cursor: pointer;
  width: fit-content;
  margin-top: -0.3em;
}

#right-container {
  display: flex;
  flex-shrink: 0; /* Prevent shrinking */
}

#lives,
#score {
  font-size: 1rem;
  padding: 10px;
  margin-left: 10px; /* Add space between lives and score */
}

#extra-info {
  font-family: "monoidregular";
  position: absolute;
  z-index: 1000;
  width: 100%;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Vertically center items */
  box-sizing: border-box; /* Include padding and border in width */
  bottom: 0.2em;
  left: 0.2em;
  color: #cc0;
  font-size: 2vh;
}

.right-container {
  display: flex;
  flex-shrink: 0; /* Prevent shrinking */
}

#primary-weapon-types {
  font-size: 2rem;
  padding: 10px;
  margin-left: 10px;
}

#primary-weapon-ammo {
  font-size: 0.8rem;
  padding-top: 1rem;
  margin-left: 10px;
}
#secondary-weapon-types {
  font-size: 2rem;
  padding: 10px;
  margin-left: 10px;
}

#secondary-weapon-ammo {
  font-size: 0.8rem;
  padding-top: 1rem;
  margin-left: 10px;
}
