html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
}
canvas {
  object-fit: cover
}

#info {
  width: 100%;
  position: absolute;
}

#score {
  text-align: right;
  margin-right: 1em;
  width: 10em;
  float: right;
}

#info {
  font-family: "monoidregular";
  z-index: 1000;
  width: 100%;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Vertically center items */
  box-sizing: border-box; /* Include padding and border in width */
  top: 0.2em;
  left: 0.2em;
  color: #cc0;
  font-size: 2vh;
}

#menu {
  flex-shrink: 0;
  margin-right: auto;
  padding: 10px;
  cursor: pointer;
  width: fit-content;
  margin-top: -0.3em;
}

#right-container {
  display: flex;
  flex-shrink: 0; /* Prevent shrinking */
}

#lives,
#score {
  padding: 10px;
  margin-left: 10px; /* Add space between lives and score */
}

#messages {
  position: fixed; /* Use fixed positioning to center relative to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the div precisely */
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 2em;
  font-family: "monoidregular";
}
